@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";


button > small {
  font-size: 0.5rem;
}

button {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.phone {
  background-image: url(../images/phone.png);
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: contain;
  height: 80vh;
}

.hero {
  background-color: #6ECA9F;
}

.footer {
  background-color: #6ECA9F;
}

#keypad {
  width: 25vh;
  margin: 10px auto;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate( -50%, -50%);
}

#textMessage {
  height: 250px;
}

#keypadColumns {
  // max-width: 90%;
}
#nav-background {
  background-color: #6ECA9F;
}

// ! #wordChooser {

// }

@media only screen and (max-height: 900px){
  #textMessage{
    max-height: 200px;
  }
}

@media only screen and (max-height: 810px){
  #textMessage{
    max-height: 100px;
  }
}

@media only screen and (max-width: 700px){
  .phone {
    background-size: cover;
  }
}

// @media only screen and (max-width: 790px){
//   button {
//     font-size:0.75rem;
//   }
// }